/* App.css */
body {
  align-items: center;
  margin: 0;
  display: flex;
  background-color: #1a1a1d;
}
.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  /* background-color: #1a1a1d; */
  color: #c5c6c7;
  font-family: 'Press Start 2P', cursive; /* Adding a retro game font */
}

h1 {
  text-align: center;
  color: #66fcf1;
}

h2 {
  color: #66fcf1;
}
