.bodyGamePage{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    margin-top: 25%;
    display: flex;
    justify-content: flex;
    align-items: center;
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #082ad1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.topPlayersList{
    position:absolute;
    right: 0px;
    top: 0px;
   
}